{% apply inline_css %}
<style>
	h3 {
		color: #333;
	}

	.logo {
		width: 100px;
		height: 100px;
		justify-content: center;
	}
</style>


<h3> <img class="logo" src="{{ email.image('@images/logo.png') }}" alt="Logo"> myExpensesByDays - Forgot your password</h1>

<p>
	Do you have forgot your password ?
</p>

<p>
	<a href={{url}}>Click here for reset your password</a>
</p>


<p>

	if you are not the author of this request. Ignore it
</p>


{% endapply %}
