{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: #333;
        }

        .logo {
            width: 100px;
            height: 100px;
            justify-content: center;
        }

        
    </style>


<img class="logo" src="{{ email.image('@images/logo.png') }}" alt="Logo"> 
<h1> Welcome in myExpensesBydays</h1>

<p>
	Thank's you four registration.
		Start managing your budget today !
</p>
<p>
	Before you start managing your budget, please validate your account.
</p>

<p>
	<a href={{url}}>Click here to activate your account</a>
</p>


{% endapply %}
